<!-- begin main content -->
<div class="bracket" [class.out-of-8]="isEight">
  <div class="bracket-container">
    <section
      class="round"
      [class.of-16]="round.matches.length === 8"
      [class.of-8]="round.matches.length === 4"
      [class.of-4]="round.matches.length === 2"
      [class.of-2]="round.matches.length === 1"
      *ngFor="let round of rounds"
    >
      <div class="box" *ngFor="let i of bracket(round.matches.length)">
        <div class="matchups">
          <div
            class="matchup"
            *ngFor="let j of matchup(round.matches.length, i)"
          >
            <div class="participants">
              <div
                class="participant"
                [class.c-pointer]="!readonly"
                [class.pointer-events-none]="readonly"
                [class.won]="hasWon(round.matches[j], round.matches[j].p1)"
                (click)="openGameModal(round.index, j)"
              >
                <span>
                  {{ getParticipant(round.matches[j].p1) }}
                </span>
                <div class="games">
                  <span
                    class="badge text-bg-dark"
                    *ngFor="let game of round.matches[j].games"
                  >
                    {{ getGameScore(game, "p1") }}
                  </span>
                </div>
              </div>
              <div
                class="participant"
                [class.c-pointer]="!readonly"
                [class.pointer-events-none]="readonly"
                [class.won]="hasWon(round.matches[j], round.matches[j].p2)"
                (click)="openGameModal(round.index, j)"
              >
                <span>
                  {{ getParticipant(round.matches[j].p2) }}
                </span>
                <div class="games">
                  <span
                    class="badge text-bg-dark"
                    *ngFor="let game of round.matches[j].games"
                  >
                    {{ getGameScore(game, "p2") }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="connector" *ngIf="round.matches[i + 1]">
          <div class="bracket"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- end main content -->

<!-- begin fab -->
<app-fab icon="fa fa-table" (onClick)="openOverviewModal()"></app-fab>
<!-- end fab -->

<!-- begin overview modal -->
<app-overview-modal
  [header]="locale.t.header.view_summary"
  [isOverviewModalVisible]="isOverviewModalVisible"
  [participants]="participants"
  [data]="rounds"
  [mode]="mode"
  (close)="closeOverviewModal()"
></app-overview-modal>
<!-- end overview modal -->

<!-- begin manage modal -->
<app-manage-game-modal
  [selectedRound]="selectedRound"
  [selectedMatch]="selectedMatch"
  [games]="games"
  [isGameModalVisible]="isGameModalVisible"
  [participants]="participants"
  [rounds]="rounds"
  [mode]="mode"
  (onAdd)="addGame()"
  (onRemove)="removeGame($event)"
  (onSave)="saveGames()"
  (onClose)="closeGameModal()"
></app-manage-game-modal>
<!-- end manage modal -->
