<div class="bracket" [class.out-of-8]="isEight">
  <div class="bracket-container">
    <section
      class="round"
      [class.of-16]="round.matches.length === 8"
      [class.of-8]="round.matches.length === 4"
      [class.of-4]="round.matches.length === 2"
      [class.of-2]="round.matches.length === 1"
      *ngFor="let round of rounds"
    >
      <div class="box" *ngFor="let i of bracket(round.matches.length)">
        <div class="matchups">
          <div
            class="matchup"
            *ngFor="let j of matchup(round.matches.length, i)"
          >
            <div class="participants">
              <div
                class="participant"
                [class.c-pointer]="!readonly"
                [class.pointer-events-none]="readonly"
                [class.won]="hasWon(round.matches[j], round.matches[j].p1)"
                (click)="openManageGamesModal(round.index, j)"
              >
                <span>
                  {{ getParticipant(round.matches[j].p1) }}
                </span>
                <div class="games">
                  <span
                    class="badge text-bg-dark"
                    *ngFor="let game of round.matches[j].games"
                  >
                    {{ getGameScore(game, "p1") }}
                  </span>
                </div>
              </div>
              <div
                class="participant"
                [class.c-pointer]="!readonly"
                [class.pointer-events-none]="readonly"
                [class.won]="hasWon(round.matches[j], round.matches[j].p2)"
                (click)="openManageGamesModal(round.index, j)"
              >
                <span>
                  {{ getParticipant(round.matches[j].p2) }}
                </span>
                <div class="games">
                  <span
                    class="badge text-bg-dark"
                    *ngFor="let game of round.matches[j].games"
                  >
                    {{ getGameScore(game, "p2") }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="connector" *ngIf="round.matches[i + 1]">
          <div class="bracket"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<app-fab icon="fa fa-table" (onClick)="openOverviewModal()"></app-fab>

<!-- begin overview modal -->
<app-modal
  [header]="locale.t.header.view_summary"
  [show]="isOverviewModalVisible"
  (close)="closeOverviewModal()"
>
  <div modal-body>
    <table class="table table-bordered" *ngFor="let round of rounds">
      <thead>
        <tr>
          <th class="text-center">{{ locale.t.label.match }}</th>
          <th colspan="2" class="text-center">
            {{ getRoundName(round.matches) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let match of round.matches; let i = index">
          <!-- Match row -->
          <tr>
            <th class="t-col-fit text-center">#{{ i + 1 }}</th>
            <td
              class="text-center"
              [class.table-primary]="match.p1 === match.won"
            >
              {{ getParticipant(match.p1) }}
            </td>
            <td
              class="text-center"
              [class.table-primary]="match.p2 === match.won"
            >
              {{ getParticipant(match.p2) }}
            </td>
          </tr>

          <!-- Games row -->
          <tr>
            <td colspan="3" class="text-center bg-light">
              <div *ngIf="match.games && match.games.length > 0">
                <div
                  class="d-inline-flex justify-content-center align-items-center mb-2"
                  *ngFor="let game of match.games; let j = index"
                >
                  <span class="badge bg-secondary me-2">
                    {{ locale.t.label.game }} {{ j + 1 }}
                  </span>
                  <span class="me-2">{{ getGame(game) }}</span>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</app-modal>
<!-- end overview modal -->

<!-- begin manage modal -->
<app-modal
  [header]="gameHeader"
  [show]="isManageGamesModalVisible"
  (close)="closeManageGamesModal()"
>
  <div modal-body>
    <ul class="list-group">
      <li
        *ngFor="let game of currentGames; let i = index"
        class="list-group-item"
      >
        <div class="d-flex flex-column">
          <!-- Label Row -->
          <div class="mb-2">
            <strong>{{ locale.t.label.game }} {{ i + 1 }}</strong>
          </div>

          <!-- Inputs and Button Row -->
          <div class="d-flex align-items-center justify-content-between">
            <!-- Inputs -->
            <div class="d-flex gap-2 flex-grow-1">
              <input
                type="number"
                [(ngModel)]="game.p1"
                class="form-control"
                placeholder="Player 1"
              />
              <input
                type="number"
                [(ngModel)]="game.p2"
                class="form-control"
                placeholder="Player 2"
              />
            </div>
            <!-- Buttons -->
            <div class="d-flex align-items-center">
              <button
                class="btn btn-secondary ms-2"
                (click)="toggleTiebreaker(i)"
              >
                {{
                  game.tiebreaker ? locale.t.action.hide : locale.t.action.show
                }}
              </button>
              <button class="btn btn-danger ms-2" (click)="removeGame(i)">
                {{ locale.t.action.delete }}
              </button>
            </div>
          </div>

          <!-- Tiebreaker Section -->
          <div *ngIf="game.tiebreaker" class="mt-3 ps-3">
            <div class="mb-2">
              <strong>{{ locale.t.label.tiebreaker }}</strong>
            </div>
            <div class="d-flex gap-2">
              <input
                type="number"
                [(ngModel)]="game.tiebreaker.p1"
                class="form-control"
                placeholder="Player 1 Tiebreaker"
              />
              <input
                type="number"
                [(ngModel)]="game.tiebreaker.p2"
                class="form-control"
                placeholder="Player 2 Tiebreaker"
              />
            </div>
          </div>
        </div>
      </li>
      <li *ngIf="currentGames.length === 0" class="list-group-item">
        {{ locale.t.message.no_games_have_been_recorded }}
      </li>
    </ul>
  </div>

  <div modal-footer>
    <button
      class="btn btn-secondary btn-sm"
      (click)="addGame()"
      [disabled]="hasTiebreaker"
    >
      {{ locale.t.action.add }}
    </button>
    <button class="btn btn-primary btn-sm ms-2" (click)="saveGames()">
      {{ locale.t.action.save }}
    </button>
  </div>
</app-modal>
<!-- end manage modal -->
