<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <h3 class="mt-2">
        {{ editing ? locale.t.action.edit : locale.t.action.create }}
        {{ locale.t.title.tournament }}
      </h3>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/tournament', 'list']">
              {{ locale.t.title.my_tournament }}
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ editing ? locale.t.action.edit : locale.t.action.create }}
            {{ locale.t.title.tournament }}
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->

      <!-- begin form -->
      <form #form="ngForm" (ngSubmit)="save(form)">
        <input type="hidden" name="id" [(ngModel)]="tournament.id" />

        <!-- begin name field -->
        <div class="form-group">
          <label for="nameTextField" class="form-label">
            {{ locale.t.label.title }} *
          </label>
          <input
            type="text"
            name="item"
            id="nameTextField"
            class="form-control"
            [(ngModel)]="tournament.name"
            [placeholder]="locale.t.placeholder.title"
          />
        </div>

        <!-- name validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isNameValid">
            {{ locale.t.message.required_field }}
          </div>
        </div>
        <!-- end name validation -->
        <!-- end name -->

        <br />

        <!-- begin mode dropdown -->
        <div class="form-group">
          <label for="modeDropdown" class="form-label">
            {{ locale.t.label.mode }}
          </label>
          <select
            id="modeDropdown"
            name="mode"
            class="form-control"
            [(ngModel)]="tournament.mode"
            required
          >
            <option *ngFor="let mode of tournamentModes" [value]="mode.value">
              {{ mode.label }}
            </option>
          </select>
        </div>

        <!-- begin mode validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isModeValid">
            {{ locale.t.message.required_field }}
          </div>
        </div>
        <!-- end mode validation -->
        <!-- end mode -->

        <br />

        <!-- begin description field -->
        <div class="form-group">
          <label for="descTextField" class="form-label">
            {{ locale.t.label.description }}
          </label>
          <textarea
            type="text"
            id="descTextField"
            name="description"
            class="form-control"
            [(ngModel)]="tournament.description"
            [placeholder]="locale.t.placeholder.description"
          >
          </textarea>
        </div>
        <!-- end description -->

        <br />

        <!-- begin participants -->
        <!-- participants control -->
        <div class="form-group mb-4">
          <button
            type="button"
            [hidden]="isReadOnly"
            (click)="addParticipant()"
            class="btn btn-primary btn-sm float-end"
            [class.disabled]="isDisabled"
          >
            {{ locale.t.action.add }}
          </button>
          <h3>{{ locale.t.label.participant }}</h3>
        </div>
        <!-- end participants control -->

        <!-- list of participants -->
        <div class="row">
          <div
            class="col-sm-6"
            *ngFor="let participant of tournament.participants; let i = index"
          >
            <div class="input-group mb-2">
              <span class="input-group-text text-sm"> #{{ i + 1 }} </span>
              <input
                required
                type="text"
                class="form-control"
                [value]="participant.name"
                (blur)="saveParticipant(i, $event)"
                [placeholder]="locale.t.placeholder.participant"
              />
              <button
                tabindex="-1"
                *ngIf="!isReadOnly"
                (click)="removeParticipant(i)"
                class="btn btn-danger"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- end list of participants -->

        <!-- participants validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isParticipantValid">
            {{ locale.t.message.invalid_participant_number }}
          </div>
        </div>
        <!-- end participants validation -->
        <!-- end participants -->

        <br />

        <!-- start date field -->
        <div class="form-group">
          <label for="startedAtTextField" class="form-label">
            {{ locale.t.label.start_date }}
          </label>
          <input
            required
            type="date"
            name="startedAt"
            class="form-control"
            id="startedAtTextField"
            [(ngModel)]="tournament.startedAt"
          />
        </div>

        <!-- start date validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isStartDateValid">
            {{ locale.t.message.invalid_start_date }}
          </div>
        </div>
        <!-- end start date validation -->
        <!-- end start date -->

        <br />

        <!-- completed field -->
        <div class="form-check">
          <input
            id="completed"
            type="checkbox"
            name="completed"
            class="form-check-input"
            [(ngModel)]="tournament.completed"
          />
          <label class="form-check-label" for="completed">
            {{ locale.t.label.completed }}
          </label>
        </div>
        <!-- end completed -->

        <!-- deleted field -->
        <div class="form-check">
          <input
            type="checkbox"
            id="deleted"
            name="deleted"
            class="form-check-input"
            [(ngModel)]="tournament.deleted"
          />
          <label class="form-check-label" for="deleted">
            {{ locale.t.label.hidden }}
          </label>
        </div>
        <!-- end deleted -->

        <br />

        <!-- begin actions -->
        <button class="btn btn-primary btn-sm">
          {{ locale.t.action.submit }}
        </button>
        <a
          [routerLink]="['/tournament', 'list']"
          class="btn btn-secondary btn-sm ms-2"
        >
          {{ locale.t.action.cancel }}
        </a>
        <!-- end actions -->
      </form>
      <!-- end form -->
    </div>
  </div>
</div>
