<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <div class="mt-2">
        <a
          [routerLink]="['/tournament', 'add']"
          class="btn btn-primary btn-sm float-end"
        >
          {{ locale.t.tournament.create }}
        </a>
        <h3>{{ locale.t.title.my_tournament }}</h3>
      </div>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/'">{{ locale.t.title.home }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ locale.t.title.my_tournament }}
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->

      <!-- begin loading -->
      <loading-placeholder *ngIf="!this.isReady"></loading-placeholder>
      <!-- end loading -->

      <!-- begin list tournament -->
      <div
        class="table-responsive"
        *ngIf="this.isReady && tournaments !== null"
      >
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th>{{ locale.t.label.title }}</th>
              <th class="text-center">{{ locale.t.label.participant }}</th>
              <th class="text-center">{{ locale.t.label.start_date }}</th>
              <th class="text-center">{{ locale.t.label.done }}</th>
              <th class="text-center" colspan="3">
                {{ locale.t.label.action }}
              </th>
            </tr>
          </thead>

          <tbody *ngIf="tournaments.length > 0">
            <tr *ngFor="let item of tournaments; let i = index">
              <td class="text-center">#{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td class="text-center">{{ item.participants.length }}</td>
              <td class="text-center">{{ item.startedAt }}</td>
              <td class="text-center">
                <span *ngIf="item.completed">{{ locale.t.label.yes }}</span>
                <span *ngIf="!item.completed">{{ locale.t.label.no }}</span>
              </td>
              <td class="text-center">
                <button
                  [routerLink]="['/tournament', 'view', item.id]"
                  class="btn bg-secondary btn-primary btn-sm"
                >
                  <i class="fas fa-folder-tree"></i>
                </button>
              </td>
              <td class="text-center">
                <button
                  [routerLink]="['/tournament', 'edit', item.id]"
                  class="btn bg-primary btn-primary btn-sm"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
              <td class="text-center">
                <button
                  (click)="deleteMethod(item.id)"
                  class="btn bg-danger btn-danger btn-sm"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <!-- begin empty table -->
          <tbody *ngIf="tournaments.length === 0">
            <tr>
              <td class="text-center" colspan="6">
                {{ locale.t.message.no_record_placeholder }}
              </td>
            </tr>
          </tbody>
          <!-- end empty table -->
        </table>
      </div>
      <!-- end list tournament -->
    </div>
  </div>
</div>
