<div class="container">
  <div class="row" *ngIf="this.isReady && tournament !== null">
    <div class="col-12">
      <!-- begin header -->
      <div class="mt-2">
        <button
          *ngIf="isOwner"
          (click)="saveTournament()"
          class="btn btn-primary btn-sm float-end"
        >
          {{ locale.t.action.save }}
        </button>
        <h3 class="mt-2">{{ tournament.name }}</h3>
      </div>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/'"> {{ locale.t.title.home }}</a>
          </li>
          <li class="breadcrumb-item" *ngIf="isOwner">
            <a [routerLink]="['/tournament', 'list']">
              {{ locale.t.title.my_tournament }}
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ tournament.name }}
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->
    </div>

    <!-- begin main component -->
    <div class="col-12">
      <app-bracket
        *ngIf="tournament.mode === tournamentMode.Knockout"
        [readonly]="isReadOnly"
        [mode]="tournament.mode"
        [rounds]="tournament.rounds"
        [participants]="participants"
      ></app-bracket>

      <app-swiss
        *ngIf="tournament.mode === tournamentMode.Swiss"
        [readonly]="isReadOnly"
        [mode]="tournament.mode"
        [rounds]="tournament.rounds"
        [participants]="participants"
      ></app-swiss>
    </div>
    <!-- end main component -->
  </div>

  <!-- begin loading -->
  <loading-placeholder *ngIf="!this.isReady"></loading-placeholder>
  <!-- end loading -->
</div>
