<section class="section-auth">
  <div class="auth-container">
    <div class="brand">
      <a [routerLink]="['']">
        <img class="brand" src="/assets/images/logo.svg" />
      </a>
    </div>

    <div class="form">
      <div class="greeting">Hi There!</div>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            placeholder="Enter your username or email"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" />
          <button mat-icon-button matSuffix (click)="togglePassword()">
            <mat-icon>
              {{ isPasswordVisible ? "visibility" : "visibility_off" }}
            </mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary">Sign In</button>
        </div>
      </form>
      <div class="footnote">
        <span>Do not have an account?</span>
        <a [routerLink]="['/auth', 'register']">Sign Up</a>
      </div>
    </div>

    <div class="illustration">
      <img src="/assets/images/signin_illustration.svg" />
    </div>
  </div>
</section>
