<section class="section-auth">
  <div class="auth-container">
    <div class="brand">
      <a [routerLink]="['']">
        <img src="/assets/images/logo.svg" />
      </a>
    </div>

    <div class="form">
      <form #tournamentForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            id="name"
            name="name"
            required
            placeholder="e.g. Joe, Jane"
            [(ngModel)]="manageUserForm.name"
            name="name"
            #name="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            required
            placeholder="e.g. behnaz@gmail.com"
            [(ngModel)]="manageUserForm.email"
            email="email"
            #email="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            name="username"
            required
            placeholder="e.g. lucas1, richard3"
            [(ngModel)]="manageUserForm.username"
            username="username"
            #username="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="passwordType"
            id="password"
            name="password"
            required
            placeholder="e.g. abDe12%3"
            [(ngModel)]="manageUserForm.password"
            password="password"
            #password="ngModel"
          />
          <button mat-icon-button matSuffix (click)="togglePassword()">
            <mat-icon>
              {{ isPasswordVisible ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="saveUser(userForm.form.valid)"
          >
            Sign Up
          </button>
        </div>
      </form>
      <div class="footnote">
        <span>Already have an account?</span>
        <a [routerLink]="['/auth', 'login']">Sign In</a>
      </div>
    </div>

    <div class="illustration">
      <img src="/assets/images/signup_illustration.svg" />
    </div>
  </div>
</section>
