<div id="login">
    <div class="login-container">
        <div class="login-header">
            <img class="brand" src="/lazy-company-logo.svg" />
        </div>

        <div class="login-content">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb-2">
                            <label for="username" class="form-label"> Username </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group mb-2">
                            <label for="email" class="form-label"> Email </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group mb-2">
                            <label for="password" class="form-label"> Password </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">
                           Sign Up
                        </button>
                    </div>
                    <span class="footnote">
                        Already has an account?
                        <button class="btn btn-primary" >
                            Sign in
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="login-footer">
            <div class="message">
                Sign in
                <a href="#" muted>Terms of Service</a>,
                <a href="#" muted>Privacy Policy</a>
                and
                <a href="#" muted>Cookie Policy</a>
            </div>
        </div>
    </div>
</div>
