<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <h3 class="mt-2">{{ locale.t.title.profile }}</h3>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/'">{{ locale.t.title.home }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ locale.t.title.profile }}
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->
    </div>

    <div class="form">
      <!-- begin error message -->
      <feedback-message [message]="message" [error]="true"></feedback-message>
      <!-- end error message -->

      <!-- begin loading -->
      <loading-placeholder *ngIf="!isReady"></loading-placeholder>
      <!-- end loading -->

      <!-- begin profile form -->
      <form
        novalidate
        #form="ngForm"
        *ngIf="isReady && user !== null"
        (ngSubmit)="save(form)"
      >
        <div class="row">
          <!-- begin first name -->
          <div class="col col-sm-6">
            <div class="form-group mb-2">
              <label for="firstName" class="form-label">
                {{ locale.t.label.first_name }}
              </label>
              <input
                required
                type="text"
                id="firstName"
                name="firstName"
                class="form-control"
                [disabled]="!isEditing"
                [(ngModel)]="user.firstName"
                [placeholder]="locale.t.placeholder.first_name"
              />
            </div>
          </div>
          <!-- end first name -->
          <!-- begin last name -->
          <div class="col col-sm-6">
            <div class="form-group mb-2">
              <label for="lastName" class="form-label">
                {{ locale.t.label.last_name }}
              </label>
              <input
                required
                type="text"
                id="lastName"
                name="lastName"
                class="form-control"
                [disabled]="!isEditing"
                [(ngModel)]="user.lastName"
                [placeholder]="locale.t.placeholder.last_name"
              />
            </div>
          </div>
          <!-- end last name -->
          <!-- begin email -->
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="email" class="form-label">
                {{ locale.t.label.email }}
              </label>
              <input
                required
                id="email"
                name="email"
                type="email"
                class="form-control"
                [disabled]="!isEditing"
                [(ngModel)]="user.email"
                [placeholder]="locale.t.placeholder.email"
              />
            </div>
          </div>
          <!-- end email -->
          <!-- begin username -->
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="username" class="form-label">
                {{ locale.t.label.username }}
              </label>
              <input
                required
                type="text"
                id="username"
                name="username"
                class="form-control"
                [disabled]="!isEditing"
                [(ngModel)]="user.username"
                [placeholder]="locale.t.placeholder.username"
              />
            </div>
          </div>
          <!-- end username -->
          <!-- begin password -->
          <div class="col-12">
            <div class="form-group">
              <label for="password" class="form-label">
                {{ locale.t.label.passwrod }}
              </label>
              <div class="input-group mb-3">
                <input
                  required
                  id="password"
                  name="password"
                  [type]="passwordType"
                  class="form-control"
                  [disabled]="!isEditing"
                  [(ngModel)]="user.password"
                  [placeholder]="locale.t.placeholder.password"
                />
                <span class="input-group-text" (click)="togglePassword()">
                  <i
                    class="fas"
                    [class.fa-eye]="!isPasswordVisible"
                    [class.fa-eye-slash]="isPasswordVisible"
                  ></i>
                </span>
              </div>
            </div>
          </div>
          <!-- end password -->
          <!-- begin form controls -->
          <div class="col-12">
            <button
              class="btn btn-primary"
              type="button"
              *ngIf="!isEditing"
              (click)="toggleEditMode()"
            >
              <i class="fa-regular fa-pen-to-square"></i>
              {{ locale.t.action.edit }}
            </button>
            <span>&nbsp;</span>
            <button class="btn btn-success" type="submit" *ngIf="isEditing">
              <i class="fa-solid fa-pen-to-square"></i>
              {{ locale.t.action.save }}
            </button>
            <span>&nbsp;</span>
            <button
              class="btn btn-secondary"
              type="button"
              *ngIf="isEditing"
              (click)="toggleEditMode()"
            >
              <i class="fa-solid fa-rotate-left"></i>
              {{ locale.t.action.cancel }}
            </button>
          </div>
          <!-- end form controls -->
        </div>
      </form>
      <!-- end profile form -->
    </div>
  </div>
</div>
