<div>
  <div>
    <h3>
      {{ tournamentId ? "Edit Tournament" : "Add Tournament" }}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ tournamentId ? "Edit Tournament" : "Add Tournament" }}
        </li>
      </ol>
    </nav>
  </div>
  <div>
    <form #tournamentForm="ngForm">
      <div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              id="name"
              required
              placeholder="e.g. tournament X, knockout Y"
              [(ngModel)]="manageTournamentForm.name"
              name="name"
              #name="ngModel"
            />
            <mat-error *ngIf="name.errors && isSubmitted"
              >Name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              id="description"
              placeholder="e.g. it is a soccer competition where the players confront each other only once."
              [(ngModel)]="manageTournamentForm.description"
              name="description"
              #description="ngModel"
            ></textarea>
          </mat-form-field>
        </div>
        <div>
          <div>
            <h3>Participants</h3>
            <button
              type="button"
              [hidden]="!isReadOnly"
              (click)="addParticipant()"
              mat-flat-button
              color="primary"
            >
              Add Participant
            </button>
          </div>
        </div>
        <div
          *ngFor="
            let participant of manageTournamentForm.participants;
            let i = index
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>#{{ i + 1 }}</mat-label>
            <input
              matInput
              type="text"
              name="participant"
              placeholder="e.g. Joe, Jane"
              (blur)="saveParticipant(i, $event)"
              [(ngModel)]="participant.name"
            />
            <button
              [hidden]="!isReadOnly"
              (click)="removeParticipant(i)"
              mat-icon-button
              matIconSuffix
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <div *ngIf="isSubmitted" class="text-danger">
            <div [hidden]="isParticipantValid">
              The number of participants must be a multiple of 8.
            </div>
          </div>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Start date</mat-label>
            <input
              matInput
              id="startDate"
              name="startDate"
              [matDatepicker]="picker"
              placeholder="e.g. mm/dd/yyyy"
              [(ngModel)]="manageTournamentForm.startDateString"
              #startDate="ngModel"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="startDate.errors && isSubmitted">
              Start date is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox
            id="completed"
            name="completed"
            [(ngModel)]="manageTournamentForm.completed"
          >
            Completed
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox
            id="hidden"
            name="hidden"
            [(ngModel)]="manageTournamentForm.hidden"
          >
            Hidden
          </mat-checkbox>
        </div>
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="saveTournament(tournamentForm.form.valid)"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
