<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-2">
        {{ tournamentId ? "Edit Tournament" : "Add Tournament" }}
      </h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ tournamentId ? "Edit Tournament" : "Add Tournament" }}
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-12">
      <form #tournamentForm="ngForm">
        <div class="col-sm-12">
          <div class="form-group mb-2">
            <label for="name" class="form-label">
              Name <span class="requiredStar">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="manageTournamentForm.name"
              name="name"
              #name="ngModel"
            />
          </div>
          <div *ngIf="name.errors && isSubmitted" class="text-danger">
            <div [hidden]="!name?.errors?.['required']">Name is required</div>
          </div>
        </div>
        <br />
        <div class="col-sm-12">
          <div class="form-group mb-2">
            <label for="description" class="form-label"> Description </label>
            <textarea
              class="form-control"
              id="description"
              [(ngModel)]="manageTournamentForm.description"
              name="description"
              #description="ngModel"
            ></textarea>
          </div>
        </div>
        <br />
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-4">
                <h3>Participants</h3>
                <button
                  type="button"
                  [hidden]="!isReadOnly"
                  (click)="addParticipant()"
                  class="btn btn-primary btn-sm"
                >
                  Add Participant
                </button>
              </div>
            </div>
            <div
              class="col-sm-6"
              *ngFor="
                let participant of manageTournamentForm.participants;
                let i = index
              "
            >
              <div class="input-group mb-2">
                <span class="input-group-text text-sm"> #{{ i + 1 }} </span>
                <input
                  type="text"
                  class="form-control"
                  (blur)="saveParticipant(i, $event)"
                  [value]="participant.name"
                />
                <button
                  tabindex="-1"
                  [hidden]="!isReadOnly"
                  (click)="removeParticipant(i)"
                  class="btn btn-danger"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div *ngIf="isSubmitted" class="text-danger">
              <div [hidden]="isParticipantValid">
                The number of participants must be multiple of 8.
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="col-sm-12">
          <div class="form-group">
            <label for="startDate" class="form-label">
              Start date <span class="requiredStar">*</span>
            </label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              name="startDate"
              required
              [(ngModel)]="manageTournamentForm.startDateString"
              startDate="startDate"
              #startDate="ngModel"
            />
          </div>
          <div *ngIf="startDate.errors && isSubmitted" class="text-danger">
            <div [hidden]="!startDate?.errors?.['required']">
              Start date is required
            </div>
          </div>
        </div>
        <br />
        <div class="col-sm-12">
          <div class="form-check">
            <input
              type="checkbox"
              id="deleted"
              name="deleted"
              class="form-check-input"
              [(ngModel)]="manageTournamentForm.deleted"
              deleted="deleted"
              #deleted="ngModel"
            />
            <label class="form-check-label" for="deleted"> Hidden </label>
          </div>
        </div>
        <button
          class="btn btn-primary"
          (click)="saveTournament(tournamentForm.form.valid)"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
