<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="mt-2">
        <button
          (click)="setCompleted(!viewTournamentForm.completed)"
          class="btn btn-primary btn-sm float-end"
        >
          Set/Unset as Completed
        </button>
        <h3 class="mt-2">{{ viewTournamentForm.name }}</h3>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ viewTournamentForm.name }}
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-12">
      <app-bracket
        [readonly]="isReadOnly"
        [rounds]="viewTournamentForm.rounds"
        [participants]="viewTournamentForm.participants"
      ></app-bracket>
    </div>
  </div>
</div>
