<div cols="1">
  <div>
    <div>
      <button
        (click)="setCompleted(!viewTournamentForm.completed)"
        mat-flat-button
        color="primary"
      >
        Set/Unset as Completed
      </button>
      <h3>{{ viewTournamentForm.name }}</h3>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="''">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ viewTournamentForm.name }}
        </li>
      </ol>
    </nav>
  </div>
  <div>
    <app-bracket
      [readonly]="isReadOnly"
      [rounds]="viewTournamentForm.rounds"
      [participants]="viewTournamentForm.participants"
    ></app-bracket>
  </div>
</div>
