<section class="section-auth">
  <div class="auth-container">
    <div class="brand">
      <a href="/">
        <img src="/assets/images/logo.svg" />
      </a>
    </div>

    <div class="form">
      <!-- begin error message -->
      <feedback-message [message]="message" [error]="true"></feedback-message>
      <!-- end error message -->
      <!-- begin registration form -->
      <form novalidate #form="ngForm" (ngSubmit)="signup(form)">
        <div class="row">
          <!-- begin first name -->
          <div class="col-6">
            <div class="form-group mb-2">
              <label for="firstName" class="form-label">
                {{ locale.t.label.first_name }}
              </label>
              <input
                required
                type="text"
                id="firstName"
                name="firstName"
                class="form-control"
                [(ngModel)]="user.firstName"
                [placeholder]="locale.t.placeholder.first_name"
              />
            </div>
          </div>
          <!-- end first name -->
          <!-- begin last name -->
          <div class="col-6">
            <div class="form-group mb-2">
              <label for="lastName" class="form-label">
                {{ locale.t.label.last_name }}
              </label>
              <input
                required
                type="text"
                id="lastName"
                name="lastName"
                class="form-control"
                [(ngModel)]="user.lastName"
                [placeholder]="locale.t.placeholder.last_name"
              />
            </div>
          </div>
          <!-- end last name -->
          <!-- begin email -->
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="email" class="form-label">
                {{ locale.t.label.email }}
              </label>
              <input
                required
                id="email"
                name="email"
                type="email"
                class="form-control"
                [(ngModel)]="user.email"
                [placeholder]="locale.t.placeholder.email"
              />
            </div>
          </div>
          <!-- end email -->
          <!-- begin username -->
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="username" class="form-label">
                {{ locale.t.label.username }}
              </label>
              <input
                required
                type="text"
                id="username"
                name="username"
                class="form-control"
                [(ngModel)]="user.username"
                [placeholder]="locale.t.placeholder.username"
              />
            </div>
          </div>
          <!-- end username -->
          <!-- begin password -->
          <div class="col-12">
            <div class="form-group">
              <label for="password" class="form-label"
                >{{ locale.t.label.password }}
              </label>
              <div class="input-group mb-3">
                <input
                  required
                  id="password"
                  name="password"
                  class="form-control"
                  [type]="passwordType"
                  [(ngModel)]="user.password"
                  placeholder="{{ locale.t.placeholder.password }}"
                />
                <span class="input-group-text" (click)="togglePassword()">
                  <i
                    class="fas"
                    [class.fa-eye]="!isPasswordVisible"
                    [class.fa-eye-slash]="isPasswordVisible"
                  ></i>
                </span>
              </div>
            </div>
          </div>
          <!-- end password -->
          <!-- begin form controls -->
          <div class="col-12">
            <button class="btn btn-primary" type="submit">
              {{ locale.t.action.sign_up }}
            </button>
          </div>
          <!-- end form controls -->
        </div>
      </form>
      <!-- end registration form -->
      <!-- begin footnote -->
      <div class="footnote">
        <span>{{ locale.t.register.footnote }}</span>
        <a [routerLink]="['/auth', 'login']"> {{ locale.t.action.sign_in }}</a>
      </div>
      <!-- end footnote -->
    </div>

    <div class="illustration">
      <img src="/assets/images/register_illustration.svg" />
    </div>
  </div>
</section>
