<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-2">Profile</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-12">
      <form #profileForm="ngForm">
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label for="username" class="form-label"> Username </label>
            <input
              type="text"
              class="form-control"
              readonly
              [value]="manageProfileForm.username"
            />
          </div>
        </div>
        <br />
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label for="email" class="form-label">
              Email <span class="requiredStar">*</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              [(ngModel)]="manageProfileForm.email"
              email="email"
              #email="ngModel"
            />
          </div>
          <div *ngIf="email.errors && isSubmitted" class="text-danger">
            <div [hidden]="!email?.errors?.['required']">Email is required</div>
          </div>
        </div>
        <br />
        <div class="col-sm-12">
          <div class="form-group mb-2">
            <label for="bio" class="form-label"> Bio </label>
            <textarea
              class="form-control"
              id="bio"
              [(ngModel)]="manageProfileForm.bio"
              name="bio"
              #bio="ngModel"
            ></textarea>
          </div>
        </div>
        <br />
        <button
          class="btn btn-primary"
          (click)="saveUser(profileForm.form.valid)"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
