<div>
  <div>
    <h3>Profile</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
  <div>
    <form #profileForm="ngForm">
      <div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              type="text"
              matInput
              readonly
              [value]="manageProfileForm.username"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              id="email"
              required
              [(ngModel)]="manageProfileForm.email"
              name="email"
              email
              #email="ngModel"
            />
            <mat-error *ngIf="email.errors && isSubmitted">
              <div [hidden]="!email?.errors?.['required']">
                Email is required
              </div>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Bio</mat-label>
            <textarea
              matInput
              id="bio"
              name="bio"
              [(ngModel)]="manageProfileForm.bio"
              #bio="ngModel"
            ></textarea>
          </mat-form-field>
        </div>
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="saveUser(profileForm.form.valid)"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
