<!-- begin main content -->
<div class="swiss">
  <div class="swiss-container">
    <div class="rounds">
      <div class="round" *ngFor="let round of activeRounds; let i = index">
        <h3>{{ locale.t.label.round }} {{ i + 1 }}</h3>
        <div class="matches">
          <div
            class="match"
            [class.c-pointer]="!readonly"
            [class.pointer-events-none]="readonly"
            (click)="openManageGamesModal(i, j)"
            *ngFor="let match of round.matches; let j = index"
          >
            <div class="wrapper">
              <div
                class="participant badge bg-secondary"
                [class.bg-primary]="match.won === match.p1"
              >
                {{ getParticipant(match.p1) }}
              </div>
              <div class="vs">vs</div>
              <div
                class="participant badge bg-secondary"
                [class.bg-primary]="match.won === match.p2"
              >
                {{ getParticipant(match.p2) }}
              </div>
            </div>
            <div class="games" *ngIf="match.games.length > 0">
              <div class="game" *ngFor="let game of match.games; let i = index">
                <span>{{ locale.t.label.game }} {{ i + 1 }}</span>
                <span
                  class="badge"
                  [class.bg-primary]="shouldHighlight(match, game)"
                  [class.bg-secondary]="!shouldHighlight(match, game)"
                >
                  {{ getGame(game) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end main content -->

<!-- begin fab -->
<app-fab icon="fa fa-table" (onClick)="openOverviewModal()"></app-fab>
<!-- end fab -->

<!-- begin standings modal -->
<app-overview-modal
  [header]="locale.t.header.standings"
  [isOverviewModalVisible]="isOverviewModalVisible"
  [participants]="participants"
  [data]="standings"
  [mode]="mode"
  (close)="closeOverviewModal()"
></app-overview-modal>
<!-- end standings modal -->

<!-- begin manage modal -->
<app-manage-game-modal
  [selectedRound]="selectedRound"
  [selectedMatch]="selectedMatch"
  [games]="games"
  [isModalVisible]="isModalVisible"
  [participants]="participants"
  [rounds]="rounds"
  [mode]="mode"
  (close)="closeManageGamesModal()"
></app-manage-game-modal>
<!-- end manage modal -->
