:root {
  --color-green: var(--bs-success);
  --color-white: var(--bs-white);

  --color-primary: var(--bs-primary);

  --color-secondary: var(--bs-secondary);
  --color-secondary-light: var(--bs-light);
}
