<div>
  <div>
    <div class="section-header">
      <a
        [routerLink]="['tournament', 'manage']"
        mat-flat-button
        color="primary"
        class="float-end"
      >
        Add Tournament
      </a>
      <h3>Tournaments</h3>
    </div>
  </div>
  <div *ngIf="tournaments.length > 0" class="section-content">
    <table mat-table [dataSource]="tournaments">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let tournament">{{ tournament.name }}</td>
      </ng-container>
      <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef>Participants</th>
        <td mat-cell *matCellDef="let tournament">
          {{ tournament.participants.length }}
        </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let tournament">
          {{ toDateString(tournament.startDate) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
        <td mat-cell *matCellDef="let tournament" class="text-center">
          <a [routerLink]="['tournament', 'view', tournament.id]">
            <mat-icon>visibility</mat-icon>
          </a>
        </td>
        <td mat-cell *matCellDef="let tournament" class="text-center">
          <a [routerLink]="['tournament', 'manage', tournament.id]">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
        <td mat-cell *matCellDef="let tournament" class="text-center">
          <mat-icon
            class="delete c-pointer"
            (click)="deleteTournamentConfirmation(tournament.id)"
            >delete</mat-icon
          >
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="['name', 'participants', 'startDate', 'actions']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['name', 'participants', 'startDate', 'actions']
        "
      ></tr>
    </table>
  </div>
  <div *ngIf="tournaments.length === 0" class="section-content">
    No Tournaments Found
  </div>
</div>
